@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!-- Alert at top of screen-->
<div class="alert alert-warning">
	<strong>Warning!</strong> Site is still under construction.
</div>

<!--Main text-->
<div>
	<h1 class="h1">Welcome!</h1>
	<h2 class="h2">words go here how does this look?</h2>

	<a href="/SearchResults" button class="button button1">Search Results</href>

		<!--<a href="/SearchResults">Working Link to Search Results Page</a> -->

</div>


