@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="alert alert-warning">
    <strong>Warning!</strong> Site is still under construction. 
</div>

<h1 class="h1">Welcome!</h1>


<a href="/SearchResults">Working Link to Search Results Page</a>
