@page
@model Homework1Williamson.Pages.SearchResultsModel
@{
}
<h1 class="h1">Search Results</h1>

<img class="img-fluid" src="Images/constructioncone.png" alt="Construction Cone" width="300" height="300">

<h2>Still a work in progress!</h2>